@using GymEats.Common.Model
@model ResetPasswordModel
@{
    Layout = null;
    var key = Model.ResetKey;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordByMail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="responseText" class="row g-1 mt-3 mb-3">
            
        </div>
        <form>
            <div class="row g-1"></div>
            <input hidden value="@key" id="resetKey"/>
            <div class="col-md-4">
                <label for="newPassword" class="form-label">New Password:</label>
                <input type="text" class="form-control" name="newPassword" id="newPassword">
            </div>
            <div class="col-md-4">
                <label for="confirmPassword" class="form-label">Confirm Password:</label>
                <input type="text" class="form-control" name="confirmPassword" id="confirmPassword">
            </div>
            <div class="row g-3 mt-2">
                <div class="col-md-4">
                    <input type="button" id="saveBtn" class="btn btn-success" value="Save" onclick="sendDetails()"/>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function sendDetails(){
            $("#responseText").html("");
            var obj = new Object();
            obj.PasswordResetToken = $("#resetKey").val();
            var pass1 = $("#newPassword").val();
            var pass2 = $("#confirmPassword").val();
            if(pass1 == pass2)
            {
                obj.Password = pass1;
                obj.ConfirmPassword = pass2;

                $.ajax({
                    type: 'POST',
                    url: '/api/auth/reset-pass',
                    contentType: "application/json",
                    data: JSON.stringify(obj),
                    success: function (response) {
                        $("#responseText").html('<p style="color:green;">Successfully password changed.</p>');
                        console.log("response: ", response);
                    },
                    error: function (err) {
                        console.log("Error: ", err.Message);
                        $("#responseText").html('<p style="color:red;">Failed to change password.<br/> Please try again.</p>');
                    }
                });
            }else{
                $("#responseText").html('<p style="color:red;">Password did not match.<br/> Please try again.</p>');
            }
        }
    </script>
</body>
</html>
